In [5]:
import os
import pickle
import multirecording_spikeanalysis as spike
import numpy as np
# import pandas as pd # use pandas for more functionality
import modin.pandas as pd # use modin to speed things up

In [6]:
# get working directory as paerent directory of current directory
cwd = os.getcwd()
pwd = os.path.dirname(cwd)

In [7]:
# import pickle files given by lab
with open(pwd + '/01_Raw_data/phase2_collection.pkl', 'rb') as f:
    phase2 = pickle.load(f)

all_data_df = pd.read_csv(pwd + "/02_Clean_data/recording_data_event_times.csv")

all_data_df

,behavior_label,start_time,end_time,collection_key,subject,units,timestamps,event_timestamps
0,acquisition,15167.0,24733.0,20230803_101331_1_merged.rec,1.1,2,[ 133 359 761 ... 42755165 42755...,[15389. 17799. 18024. 18742. 19228. 19343. 194...
1,acquisition,15167.0,24733.0,20230803_101331_1_merged.rec,1.1,26,[ 149 2407 2955 ... 42759906 42761...,[15300. 15726. 16168. 16793. 17148. 17555. 200...
2,acquisition,15167.0,24733.0,20230803_101331_1_merged.rec,1.1,196,[ 394 1740 2021 ... 42760901 42761...,[15804. 17351. 17919. 18540. 19217. 19927. 202...
3,acquisition,15167.0,24733.0,20230803_101331_1_merged.rec,1.1,113,[ 436 7630 9762 ... 42492963 42528...,[21222. 23849.]
4,acquisition,15167.0,24733.0,20230803_101331_1_merged.rec,1.1,91,[ 449 4067 11824 ... 42749653 42753...,[22087.]
...,...,...,...,...,...,...,...,...
40861,exposure 3,1985700.0,1986200.0,20230818_133620_1_merged.rec,1.4,73,[ 352534 1489090 3711465 3936724 4482099 ...,[]
40862,exposure 3,1985700.0,1986200.0,20230818_133620_1_merged.rec,1.4,141,[ 413994 636033 764028 1171529 1250682 ...,[]
40863,exposure 3,1985700.0,1986200.0,20230818_133620_1_merged.rec,1.4,36,[ 449953 451680 455769 458347 462015 ...,[]
40864,exposure 3,1985700.0,1986200.0,20230818_133620_1_merged.rec,1.4,95,[ 472131 492784 527617 761281 788850 ...,[]
40865,exposure 3,1985700.0,1986200.0,20230818_133620_1_merged.rec,1.4,120,[ 1431338 1808996 2413020 2448649 2496858 ...,[]